# ignore bin & vs
.vs/
bin/
bin-int/
*.json
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
SandBox/imgui.ini
SandBox/GearProfile-Runtime.json
SandBox/GearProfile-Shutdown.json
SandBox/GearProfile-Startup.json
