[submodule "Gear/vendor/spdlog"]
	path = Gear/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gear/vendor/GLFW"]
	path = Gear/vendor/GLFW
	url = https://github.com/zxwnstn/glfw
[submodule "Gear/vendor/imgui"]
	path =Gear/vendor/imgui
	url = https://github.com/zxwnstn/imgui
[submodule "Gear/vendor/glm"]
	path = Gear/vendor/glm
	url = https://github.com/g-truc/glm
